.navBarLinks{
    text-decoration: none!important;
    font-size:"2.946rem"!important;
    font-family: 'Quicksand', sans-serif!important;
    font-weight: 700!important;
    color: rgba(0,0,0,0.7)!important;
    /*transition: all 0.5s ease-out;*/
  }
  .navBarLinks:hover{
    color:#150d64!important;
  }

  .profileButton:hover{
    background-color: inherit!important;
  }
  
  .bellIcon{
    color:#868686!important;
    font-size: 1.2rem!important;
  }
  
  .popText span{
  font-size: 0.8rem!important;
  font-family: 'Quicksand', sans-serif!important;
  font-weight: 600!important;
  color: rgba(0,0,0,0.9)!important;
  }
.popText:hover{
  color:#150d64!important;
}
.SignupButton{
    border-radius:4px 0 0 4px,
}
.postJobButton{
  border-radius: 0px 4px 4px 0px;
}
@media only screen and (max-width: 900px){
.postJobButton{
display: none!important
}
}