@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
/* font-family: 'Quicksand', sans-serif; */
*{
	margin: 0;
	padding:0,
  }

.top{
  margin-top:3vh;
}
.top2{
  margin-top:5vh;
  top:4vh;
  padding: 0 70px 0 0px;
    }

.bottom{
  margin-bottom:4vh;
}
html,
body {
  background:#fff!important;
  padding: 0;
  margin: 0;
  font-family:'Quicksand', sans-serif; 
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
p{
  font-size: 15px!important;
  line-height: 1.7 !important;
  /*color: #333 !important;*/
}

h2{
  margin: 46px 0 1em!important;
}

/* The Nav Bar */

a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: none!important;
  /* color:rgb(152, 158, 187)!important; */
}

.MuiTypography-displayBlock {
  display: block;
  font-size: inherit!important;
  font-family: inherit!important;
}
/* Avatar */

.MuiAvatar-root {
  width: 35px!important;
  height: 35px!important;
}
  /* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Condensed&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap"); */


.io{
  
  /* Images  */
}

img{
  width: 100%;
  /* height: 100%; */
}
pre {
  display: block;
  border-radius: 10px;
  border: none;
  position: relative;
  padding: 20px;
  z-index: 0!important;
  font-size: 87.5%;
  color: #212529;
  background-color: #1e1e3f;
  color: #ccc;
  margin-top: 40px!important;
  /* margin-bottom: ; */
}
 /* Blog */
 .blogHeader{
   min-height:45vh;
   background-color: rgba(57, 49, 49, 0.7);
   background-image:linear-gradient( rgba(57, 49, 49, 0.7), rgba(0, 0, 0, 0.7) ), url(https://i.picsum.photos/id/2/5616/3744.jpg?hmac=l1XcSPFigtRLcO2F6Li-t17EIeylkWH94Oowb4vzApk);
   text-align: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding-top: 160px;
   color:white;
}
.sticky-top{
  top:8vh!important;
  z-index:0!important
}
.MuiSpeedDial-fab {
  pointer-events: auto;
  background: orangered!important;
  /* width: 40px;
  height: 40px; */
}
.blogList{
  margin-top: 5vh;
    margin-left: auto!important;
    margin-right: auto;
    /* margin: 10vh; */
    display: block;
}
.social-share{
  flex-direction: column;
    display: flex;
    top: 40vh!important;
}
.preview-image{
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 222px;
}
.previewBody{
  color: #8C8889;
}
.previewTitle{
  -webkit-line-clamp: 4!important;
  font-size: 18px;
}
.rounded-circle{
  width:inherit!important;
  height: inherit!important;
}
.previewP{
      /* margin: 20px 0 60px; */
    /* min-height: 163px; */
    /* max-height: 166px; */
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    color: #8C8889!important;
    /*font-size: 15px!important;*/
}
.previewCard{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px!important;
  transition: all 0.4s ease-in-out;
  /*box-shadow: none;*/
}
.previewCard:hover{
 box-shadow: 0 3px 10px 0 rgb(0 0 0 / 16%)!important; 
}

.social-icon-blog{
  margin:0 0 14px 0;
  transition: all 1s ease-in-out;
}
button.react-share__ShareButton:hover {
  transform: rotate(360deg)!important;
  transition: all 0.7s ease-in-out;
}
.social-shares{
  display:none;
}
.blog-detail{
  margin:0 10px;
  font-size: 16px;
    /*color: #5c5758;*/
    color:#2d2d2d;
     line-height: 175%;
     letter-spacing: 0;
}
@media only screen and (max-width: 599px){
 .blog-detail {
    margin-top: 3px;
}
.social-icon-blogs{
  padding: 0 10px!important;
  transition: all 0.7s ease-in-out;
}
  .social-shares{
    flex-direction: row!important;
      display: flex;
      margin-top:10px;
    
  }
  .social-share{
    display:none;
    
  }
}
.noLaptop{
  display: none;
}
@media only screen and (max-width: 900px){
  .noMobile{
    display: none;
  }
  .JobDetailsCard{
  /*padding: 20px;*/
    /*border: 1px solid #F1F1F1;*/
        margin: inherit!important;
    /*border-radius: 5px;*/
    background-color: #ffffff;
    /*box-shadow: 0 5px 20px 0 rgb(0 0 0 / 15%);*/
}
.rhu{
  margin: inherit!important;
}
  .noLaptop{
    display: block;
  }
  .title-box{
    padding: 0 15px;
  }
  .noPadding{
    padding: 0;
  }
.blog-detail {
    margin: 1px 0 0;
}
.social-shares{
  margin-top:10px;
  flex-direction: row!important;
  display: flex;
  transition: all 1s ease-in-out;
}
.topArticle{
      padding-right: 15px!important;
    padding-left: 15px!important;
}
.top2{
   padding-right: 15px!important;
    padding-left: 15px!important;
  }
}
.social-share{
  /*display:none;*/
}

/* @media only screen and (min-width: 900px){
	 .blogList{
     display:none;
   }
} */
.topArticle{
  /*margin-top:5vh;*/
  /*top:4vh;*/
  padding: 0 100px 0 0px;
  }
.card{
  border:none!important
}
.blogPageAvatar{
  width:25px!important;
  height: 25px!important;
}
.blog-card{
  /* display:none; */
  padding: 0!important;
    /* padding: 0 10px 0 0; */
  margin-right: 20px!important;
}
.card-title{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.blogPageAvatar2{
  width:50px!important;
  height:50px!important;
}
.article-info{
  margin-bottom: 30px;
}
.in{
  margin-left: 21px;
}
.ro{
  margin-left: 8px!important;
  flex-wrap: wrap;
  display:flex;
  align-items: center;
  
}
.subtitles{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.km{
  padding-bottom: 8px;
  display: block
}
.ar{
  flex-direction: row;
  align-items: center;
  display:flex
}



/* Admin */


.profile-header{
  padding:1rem;
}
@media only screen and (max-width: 800px){
   .main-navbar{
    display: none!important;
  }
  .Panel{
    display: none!important;
  }
 }




/* Job Post */

.jobContainer{
  margin-top: 30px;
}
.field{
  margin-top:17px
}
.jobTop{
  display:flex;
}
.fullTime{
    color: grey;
    
}
.chipLI{
 margin: 8px 10px;
}
.jobdescSpace{
  height: 33vh;
}
.jobskil{
  margin-top:60px!important;
}
.JobDetailsCard{
  /*padding: 20px;*/
    /*border: 1px solid #F1F1F1;*/
        margin: 0 50px;
    /*border-radius: 5px;*/
    background-color: #ffffff;
    /*box-shadow: 0 5px 20px 0 rgb(0 0 0 / 15%);*/
}
.rhu{
  margin: 0 50px
}
.headerjobCard{
  background: rgb(36 3 117 / 40%)!important;
  transition: 0.4s ease-in-out
}
.stickyjob{
  position:sticky;
  top:20px;
}
.headerJobCard:hover{
  background:none;
}
.imge{
  height:200px!important;
}
.jobLocationIcon{
  color:grey;
}
/* Quill js*/
 
  .divider{
	  height: 3vh!important;
  }
 

  
  .Quill{
	  margin-top: 2vh;
  }
  .card-image2{
	  height:210px;
  }
  .card-post{
	  /*box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06)!important; 	*/
        box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 0 0.125rem 0.1875rem rgb(90 97 105 / 10%)!important;
	  border: none;
	  border-radius: .625rem!important;
  }
  .card-body{
	  padding: 1.5625rem;
  }
  .cardPost-image{
	  border-top-right-radius: 0;
	  border-top-left-radius: .625rem;
	  border-bottom-left-radius: .625rem;
	  min-width: 180px;
	  background-size: cover;
	  background-position: 50%;
	  position: relative;
	  min-height: 10.3125rem;
	  background-repeat:no-repeat
  }
  .ry{
	  display: flex;
	  justify-content: space-between;
	  flex: 1 1 auto;
	  box-sizing: border-box;
	  align-items:center;
  }
  .wall{
	  margin-bottom:48px;
  }
  .description{
	  margin-top:4px;
	  /* display:none; */
  }
  .bi-image{
	  width:100%
  }
  .ry-right{
	  width:35%;
  }
  .ry-left{
	  margin-right:18px;
	  min-width:0;
	  display:block;
	  width:65%
  }
  @media only screen and (min-width: 1080px){
  .rx {
	  margin-bottom: 48px;
  }
  .description{
	  display:block!important;
  }}
  * { -webkit-print-color-adjust: exact !important; }
  body{
	  /* background: white!important; */
  }
  /* App container styling */
  .App{
	width: 100%;
	overflow: hidden;
  }
  /* bootstrap button style removed */
  button:focus {
	outline:none!important;
	/* outline: 5px auto -webkit-focus-ring-color; */
  }
  .next{
	  margin: 30px 0;
  }
  /* NavLinks design */
  
 
  
  /* mobile for resume Form */
  
  @media only screen and (min-width: 1000px){
	  
  }
  
  @media only screen and (min-width: 680px){
	 
  }
  .LandingPagecontainer{
	margin-top: 1vh;
  }
  .MuiMobileStepper-dotActive {
	  background-color: #e2437c;
  }
  
  /* The image at the top of the Landing Page */
  .introImage{
	height:90%;
	width:100%;
	margin-top:4vh;
  }
  /* The MuiDrawer Width set */
  .MuiDrawer-paperAnchorLeft {
	left: 0;
	right: auto;
	width: 74%;
  }
  /* .TestImage */
  .TestImage{
  width:50%;
  }
  .LandingPage2{
	margin-top: 88px;
  }
  /* LandingPage3 */
  .cards-container{
	margin-top:30px;
  }
  /* The NavBarDrwer LImit */
  /* .MenuButton{
	  color:orangered!important;
	} */
  @media only screen and (min-width: 960px){
	.MenuButton{
	  display:none!important;
	}
  }
  @media only screen and (max-width:860px){
	  img{width:100%}
  }



  /*WYSIWIG*/
  .container2{
    margin-top: 80px;	
    /*padding:0;*/
}
.title-box{
	/* padding:0 0 0px 10px; */
}
.ql-container.ql-snow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    border: none!important;
    /* position: fixed!important;
    width: 75%;
    overflow-x: auto; */
    margin-top:0px;
    height: 77vh;
    
}
.ql-toolbar.ql-snow {
    border: none!important;
    /* position:fixed; */

    /* padding: 8px; */
    /* display: block; */
    background:#fdfdfd;
    /* background: #eaecec; */
    z-index: 1000!important;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}
.rich-text{
    position: sticky;
    top: 110px;
}
.quill{
    height: 100%;
}

.rich-text-wall{
padding: 0px 5px;
/* height: 79vh; */
}
body{
    /* background-color: #f5f6f8; */
}
.ql-align-center {
    text-align: center;
}
.scheme-input{
    margin-top: 52px;
}
.cont{
    margin-top:15px
}
.conts{
    margin-top:15px;
    display:grid;
}
textarea {
    resize: none;
    width:100%;    
    height: 130px!important;
    margin-top: 9.79688px;
    /*border: 1px solid #9a9a9a;*/
    padding: .625em;
        border-color: #b5b5b5;
    border-radius: 6px;
    outline:none;
  }
.categoryText{
    padding: 10px 0 5px ;
}


/* ADs / */
.bc-banner {
  position:relative;
  border:1px solid #ccc;
  overflow:hidden;
  background-color:#ff7a59;
  margin-top: 3vh;
}
.bc-banner a {
  text-decoration:none;
  color:#fff;
}
.bc-banner a:hover {
  opacity:0.8;
}
.bc-banner-header {
  background-color:#fff;
  position:relative;
  z-index:2;
  padding:1rem;
}

.bc-banner-body {
  position:relative;
  z-index:2;
  padding:2rem;
}
.bc-banner .bc-banner-cover {
  position:absolute;
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  object-fit: cover;
  top:0;
  z-index:1;
  height: 100%;
  width: 100%;
}
